/*SnappMobile */

/*September 2018*/

/* Reset default*/

html,
body,
div,
span,
object,
iframe,
/*h1,
h2,
h3,
h4,
h5,
h6,*/
p,
blockquote,
a,
abbr,
address,
aside,
dfn,
em,
img,
small,
strike,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
tr,
th,
td,
article,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Variables */

:root {
    --brand-color: #4640f2;
}

/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Containers */

.container {
    width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 2fr 1fr;
    grid-gap: 0rem;
    
}

body {
    font-family: 'Overpass Mono';
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;

}

main {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 15% repeat(2, 1fr);
    padding-top: 69px;
    padding-left: 119px;
    background: linear-gradient(114deg, rgba(92,91,255, 0.7), 
    rgba(70,64,242, 0.7)), url('../assets/bg-header.svg');
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  .logo img {
    width: 222px;
    height: 44px;
  }

  ul.social.icons li {
    display: inline-block;
    padding: 0 0 0 1em;
  }

.social.icons img {
    width: 44px;
    height: 44px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    -webkit-text-stroke: 1px #ffffff;
}


h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--brand-color);
  }

h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
  }  


section {
    text-align: left;
}

.content-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

}

/*
.content-2 {
    background-color: aquamarine;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

}

.content-3 {
    background-color: aqua;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}
*/

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--brand-color);
    background-color: #ffffff;
    border-style: none;
    border-radius: 39.5px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.1);
  
}

footer {
    background-color: #ffffff;
    color: var(--brand-color);
    grid-row: 2 / 3;
}