/*SnappMobile */

/*September 2018*/

/*Breakpoints*/

@media screen and (min-width: 2680px) {
   .container {
      max-width: 3000px;
}

}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 980px) {


}

@media screen and (max-width: 736px) {


     
    #main-1, #main-2, #header-2, .contacts, .copyright {
        padding-left: 80px;
     
    }

   .icons-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    ul.social.icons {
       display: none;

}

    ul.deck {
        display: flex;
        justify-content: flex-end;
    }

    ul.deck li {
        display: inline-block;
        width: 40px;
      }


    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .contact-info a {
        margin-bottom: 31px;
    }

    .copyright {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
    

        }

        #page-1.container {
            grid-template-rows: 1fr 2fr;
        }
    
        #main-1 {
            grid-template-rows: 15% 1fr;
        }   

   
}

@media screen and (max-width: 480px) {

     #main-1, #main-2, #header-2, .contacts, .copyright {
        padding: 20px 40px;
    }

    .logo img {
        width: 121px;
        height: 24px;
      }

    .social.icons img {
        width: 24px;
        height: 24px;
    }  

    ul.deck img {
        width: 40px;
        height: 24px;
    }
   
    #footer-1 {
        padding-top: 0px;
    }

    h1 {
        font-size: 36px;
    }

    button {
        width: 211px;
        height: 40px;
        font-size: 16px;
    }

}