/*SnappMobile */

/*September 2018*/

/*Breakpoints*/

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 736px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .copyright {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

        }
}

@media screen and (max-width: 480px) {
    
        
}